<html>
    <body>
        <form action="/products" method="post">
            <div>
                <label for="title">Title</label>
                <input id="title" type="text" name="title" placeholder="book's title">
            </div>
            <div>
                <label for="price">Price</label>
                <input id="price" type="text" name="price" placeholder="book's price">
            </div>
            <div>
                <label for="description">Description</label>
                <textarea id="description" cols="20" rows="10" type="text" name="description" placeholder="book's description"></textarea>
            </div>
            <div>
                <input type="submit" value="save" />
            </div>
        </form>
    </body>
</html>